@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5c6b73;
    color: #253237;
    overflow: hidden;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
}

.main-container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    min-height: 800px; 
    border: #253237;
    border: 2px solid #253237; /* Add a white border for visibility */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Add some shadow for depth */
    border-radius: 10px; /* Optionally round the corners */
    background: #253237; /* Ensure the background is solid */
    z-index: 10; /* Make sure it sits above the dimmed background */
    overflow: hidden; /* Optional: in case you have elements that could overflow */
}

.info-section {
    display: flex;
    position: relative;
    width: 50%;
    background: #9db4c0;
    transition: all 0.5s ease; 
    text-align: center;
    align-items: center;
    justify-content: center; /* Centers content horizontally */

}



.hover-text {
    display: inline-block; 
    margin-top: 100px; /* Add space between the icon and the text */
    color: #253237; 
    font-size: 16px; 
    line-height: 1.6; 
    white-space: nowrap;
    margin-top: 5%; 
    top: 100%;
    transform: translate(-20%, -20%); 
    width: 200px;
    height: 10px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    position: relative;
    font-weight: 600;
    
    
}

.info-section .hover-text {
    /* Apply the animation */
    animation: 2.5s slideLeftToRight ease-out infinite;
}

.cursor-icon {
    width: 35px; /* Or the size you want */
    height: auto; /* Maintain aspect ratio */
    vertical-align: middle; /* Aligns the icon with the middle of the text */
    margin-bottom: 5px;
}

.info-section:hover .info-icon {
    opacity: 0; 
}

.info-content {
    position: absolute;
    top: 0;
    left: -100%; 
    width: 100%;
    height: 100%;
    background: #9db4c0;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 1;
    text-align: center; /* Align text horizontally */
    align-items: center;
    font-family: 'Roboto Mono', monospace;
    margin-top: 140px;
    
}

.info-section:hover .info-content {
    left: 0;
    opacity: 1;
}

.login-section {
    width: 50%;
    background: #9db4c0;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-image {
    /* If the logo has a specific class assigned to it */
    max-width: 100%; /* Ensures the image is responsive and fits its container */
    height: 100px; /* Maintains the aspect ratio of the image */
    margin-bottom: 20px; /* Provides space below the logo if needed */

}


input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border: 1px solid #253237;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
}

button, .submit {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #253237;
    border: 1px solid #253237;
    color: #c2dfe3;
    cursor: pointer;
    font-weight: bold;
    width: 100%; /* Makes the button extend full width of the form */
    margin-top: 20px;
    box-sizing: border-box;
}

button:hover, .submit:hover {
    background-color: #c2dfe3;
    color: #253237;
    border: 1px solid #253237;
}

/* Additional styling for your info content if needed */
.container .box .content h2,
.container .box .content h3,
.container .box .content li,
.container .box .content p {
    text-align: left; /* Aligns the text to the left */
}

h3 {
    margin-bottom: 5px;
}

li {
    margin-top: 5px;
}

p {
    margin-top: 5px;
}

