@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

header {
    background-color: rgba(255, 255, 255, 0.801);
    font-family: 'Roboto Mono', monospace;
    color: #000000;
    border: 1px solid #282828; /* This creates a white border, change the color as needed */
    padding: 10px 20px; /* Add some padding */
    border-radius: 20px;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    box-shadow: 2px 2px 0px black;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #686B6D !important; 
    color: rgba(255, 255, 255, 0.801);
    margin: 0;
    padding: 0;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



.container {
    width: 70%;
    margin:auto;
    text-align: center;
}


.date-picker {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.801);
    text-align: center;
    font-weight: bolder;
    
}

.date-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: inline-block;
    margin-bottom: 5px;
   
}

.date-input label {
    margin-bottom: 5px;
    display: block;
}

.date-input input {
    padding: 5px;
    border: rgba(255, 255, 255, 0.801);
    border-radius: 5px;
}

.search-button {
    width: 100%;
    display: block;
    justify-content: center;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.801);
    color: black;

}

#start_date {
    border-color: rgba(255, 255, 255, 0.801);
    box-shadow: rgba(255, 255, 255, 0.801);
    color: white;
    font-weight: bolder;
}

#end_date {
    border-color: rgba(255, 255, 255, 0.801);
    box-shadow: rgba(255, 255, 255, 0.801);
    color: white;
    font-weight: bolder;
}

#resetBtn {
    display: block;
    margin: 5px auto;
    background-color: rgba(255, 255, 255, 0.801);
    color: black;

}


.underline { /* underlines heading of the populated list */
    text-decoration: underline;
}

.device-list {
    background: rgba(255, 255, 255, 0.801);
    color: #253237;
    border-color: rgba(255, 255, 255, 0.801);
    padding: 10px;
    border-radius: 5px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    align-items: center;
    margin: auto;
    width: 50%;
    text-align: center;
    margin-bottom: auto;
    box-shadow: 2px 2px 0px black;
    
}

.device-list ul {
    list-style-type: none;
    padding: 0;
}

.device-list li {
    padding: 5px 0;
    /* border-bottom: 1px solid #36454F; */
}

/* Remove border from last item
.device-list li:last-child {
    border-bottom: none;
} */

#loading-spinner {
    position: fixed; /* Or absolute, depending on how you want to position it */
    top: 60%;
    left: 47.7%;
    transform: translate(-50%, -50%);
    /* Add width, height, or other styles as necessary */
    align-items: center;
}
  
.hourglass, .hourglass:before, .hourglass:after {
	animation-duration: 4s;
	animation-iteration-count: infinite;
}
.hourglass {
	--polygonH: polygon(0% 0%,100% 0%,100% 5.55%,95% 5.55%,95% 28%,60% 46%,60% 54%,95% 72%,95% 94.45%,100% 94.45%,100% 100%,0% 100%,0% 94.45%,5% 94.45%,5% 72%,40% 54%,40% 46%,5% 28%,5% 5.55%,0% 5.55%);
	animation-name: flip;
	animation-timing-function: ease-in-out;
	background-image: linear-gradient(var(--primary) 0.5em,#000000 0.5em 8.5em,var(--primary) 8.5em);
	clip-path: var(--polygonH);
	-webkit-clip-path: var(--polygonH);
	overflow: hidden;
	position: relative;
	width: 5em;
	height: 9em;
	z-index: 0;
}
.hourglass:before, .hourglass:after {
	animation-timing-function: linear;
	content: "";
	display: block;
	position: absolute;
}
.hourglass:before {
	--polygonB1: polygon(0% 0%,100% 0%,100% 24%,50% 47%,50% 47%,50% 47%,50% 47%,50% 47%,50% 47%,50% 47%,50% 47%,0% 24%);
	--polygonB2: polygon(0% 4%,100% 4%,100% 24%,55% 45%,55% 100%,55% 100%,55% 100%,45% 100%,45% 100%,45% 100%,45% 45%,0% 24%);
	--polygonB3: polygon(0% 24%,100% 24%,100% 24%,55% 45%,55% 80%,100% 100%,100% 100%,0% 100%,0% 100%,45% 80%,45% 45%,0% 24%);
	--polygonB4: polygon(45% 45%,55% 45%,55% 45%,55% 45%,55% 58%,100% 76%,100% 100%,0% 100%,0% 76%,45% 58%,45% 45%,45% 45%);
	--polygonB5: polygon(50% 53%,50% 53%,50% 53%,50% 53%,50% 53%,100% 76%,100% 100%,0% 100%,0% 76%,50% 53%,50% 53%,50% 53%);
	animation-name: fill;
	background-color: var(--fg);
	background-size: 100% 3.6em;
	clip-path: var(--polygonB1);
	-webkit-clip-path: var(--polygonB1);
	top: 0.5em;
	left: 0.5em;
	width: 4em;
	height: 8em;
	z-index: 1;
}
.hourglass:after {
	animation-name: glare;
	background:
		linear-gradient(90deg,#8E5A2E 0.5em,#5E2910 0.5em 1.5em,#8E5A2E 1.5em 3.5em,#5E2910 3.5em 4.5em,#fff0 4.5em 6.5em,#5E2910 6.5em 7.5em,#8E5A2E 7.5em) 0 0 / 100% 0.5em,
		linear-gradient(90deg,#8E5A2E 0.75em,#5E2910 0.75em 1.25em,#8E5A2E 1.25em 3.75em,#5E2910 3.75em 4.25em,#fff0 4.25em 6.75em,#5E2910 6.75em 7.25em,#8E5A2E 7.25em) 0 0.5em / 100% 8em,
		linear-gradient(90deg,#8E5A2E 0.5em,#5E2910 0.5em 1.5em,#8E5A2E 1.5em 3.5em,#5E2910 3.5em 4.5em,#fff0 4.5em 6.5em,#5E2910 6.5em 7.5em,#8E5A2E 7.5em) 0 100% / 100% 0.5em;
	background-repeat: repeat-x;
	top: 0;
	left: -3em;
	width: 200%;
	height: 100%;
	z-index: 2;
}
/* Animations */
@keyframes fill {
	from {
		clip-path: var(--polygonB1);
		-webkit-clip-path: var(--polygonB1);
	}
	10% {
		clip-path: var(--polygonB2);
		-webkit-clip-path: var(--polygonB2);
	}
	45% {
		clip-path: var(--polygonB3);
		-webkit-clip-path: var(--polygonB3);
	}
	80% {
		clip-path: var(--polygonB4);
		-webkit-clip-path: var(--polygonB4);
	}
	85%, to {
		clip-path: var(--polygonB5);
		-webkit-clip-path: var(--polygonB5);
	}
}
@keyframes glare {
	from, 90% {
		transform: translateX(0);
	}
	to {
		transform: translateX(3em);
	}
}
@keyframes flip {
	from, 90% {
		transform: rotate(0);
	}
	to {
		transform: rotate(180deg);
	}
}
/* Dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: #764C24;
		--fg: #D8BCA4;
	}
}

.logout-container {
    text-align: center; /* Aligns the logout button to the right, adjust as necessary */
    padding: 10px; /* Adds some space around the button */
}

.logout-button {
    float: left;
    width: 7%;
    padding: 12px;
    background: #c00;
    border: 2px solid black;
    color: white;
    margin-left: 5%;
    border-radius: 4px;
    box-shadow: 2px 2px 0px black;
    cursor: pointer;
    font-weight: 800;
    margin-top: 80px;
}

/* Add a hover effect if desired */
.logout-button:hover {
    background-color: rgb(126, 9, 9); /* Darker shade when hovered */
}
 
  
  



